<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by Vaish. It uses data from positionstack.com and weatherstack.com</p>
    <img src="/img/robot.jpg">
    {{>footer}}
</body>

</html>